/* MARGINS & PADDINGS */
.p-xxxs {
    padding: 3px !important;
}

.p-l-xxxs {
    padding-left: 3px !important;
}

.p-r-xxxs {
    padding-right: 3px !important;
}

.p-t-xxxs {
    padding-top: 3px !important;
}

.p-b-xxxs {
    padding-bottom: 3px !important;
}

.p-xxs {
    padding: 5px !important;
}

.p-l-xxs {
    padding-left: 5px !important;
}

.p-r-xxs {
    padding-right: 5px !important;
}

.p-t-xxs {
    padding-top: 5px !important;
}

.p-b-xxs {
    padding-bottom: 5px !important;
}

.p-xxms {
    padding: 7px !important;
}

.p-l-xxms {
    padding-left: 7px !important;
}

.p-r-xxms {
    padding-right: 7px !important;
}

.p-t-xxms {
    padding-top: 7px !important;
}

.p-b-xxms {
    padding-bottom: 7px !important;
}

.p-xs {
    padding: 10px !important;
}

.p-l-xs {
    padding-left: 10px !important;
}

.p-r-xs {
    padding-right: 10px !important;
}

.p-t-xs {
    padding-top: 10px !important;
}

.p-b-xs {
    padding-bottom: 10px !important;
}

.p-sm {
    padding: 15px !important;
}

.p-l-sm {
    padding-left: 15px !important;
}

.p-r-sm {
    padding-right: 15px !important;
}

.p-t-sm {
    padding-top: 15px !important;
}

.p-b-sm {
    padding-bottom: 15px !important;
}

.p-m {
    padding: 20px !important;
}

.p-l-m {
    padding-left: 20px !important;
}

.p-r-m {
    padding-right: 20px !important;
}

.p-t-m {
    padding-top: 20px !important;
}

.p-b-m {
    padding-bottom: 20px !important;
}

.p-md {
    padding: 25px !important;
}

.p-l-md {
    padding-left: 25px !important;
}

.p-r-md {
    padding-right: 25px !important;
}

.p-t-md {
    padding-top: 25px !important;
}

.p-b-md {
    padding-bottom: 25px !important;
}

.p-lg {
    padding: 30px !important;
}

.p-b-lg {
    padding-bottom: 30px !important;
}

.p-t-lg {
    padding-top: 30px !important;
}

.p-l-lg {
    padding-left: 30px !important;
}

.p-r-lg {
    padding-right: 30px !important;
}

.p-xl {
    padding: 40px !important;
}

.p-b-xl {
    padding-bottom: 40px !important;
}

.p-t-xl {
    padding-top: 40px !important;
}

.p-l-xl {
    padding-left: 40px !important;
}

.p-r-xl {
    padding-right: 40px !important;
}

.p-xxl {
    padding: 50px !important;
}

.p-b-xxl {
    padding-bottom: 50px !important;
}

.p-t-xxl {
    padding-top: 50px !important;
}

.p-l-xxl {
    padding-left: 50px !important;
}

.p-r-xxl {
    padding-right: 50px !important;
}

.p-none {
    padding: 0 !important;
}

.p-t-none {
    padding-top: 0 !important;
}

.p-r-none {
    padding-right: 0 !important;
}

.p-l-none {
    padding-left: 0 !important;
}

.p-b-none {
    padding-bottom: 0 !important
}

.p-sides-none {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-tb-none {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.m-xxs {
    margin: 2px 4px !important;
}

.m-xs {
    margin: 5px !important;
}

.m-sm {
    margin: 10px !important;
}

.m {
    margin: 15px !important;
}

.m-md {
    margin: 20px !important;
}

.m-lg {
    margin: 30px !important;
}

.m-xl {
    margin: 50px !important;
}

.m-xxl {
    margin: 60px !important;
}

.m-xxxl {
    margin: 70px !important;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0 !important;
}

.m-l-xs {
    margin-left: 5px !important;
}

.m-l-sm {
    margin-left: 10px !important;
}

.m-l {
    margin-left: 15px !important;
}

.m-l-md {
    margin-left: 20px !important;
}

.m-l-lg {
    margin-left: 30px !important;
}

.m-l-xl {
    margin-left: 40px !important;
}

.m-l-n-xxs {
    margin-left: -1px !important;
}

.m-l-n-xs {
    margin-left: -5px !important;
}

.m-l-n-sm {
    margin-left: -10px !important;
}

.m-l-n {
    margin-left: -15px !important;
}

.m-l-n-md {
    margin-left: -20px !important;
}

.m-l-n-lg {
    margin-left: -30px !important;
}

.m-l-n-xl {
    margin-left: -40px !important;
}

.m-t-none {
    margin-top: 0 !important;
}

.m-t-xxs {
    margin-top: 1px !important;
}

.m-t-xs {
    margin-top: 5px !important;
}

.m-t-sm {
    margin-top: 10px !important;
}

.m-t {
    margin-top: 15px !important;
}

.m-t-md {
    margin-top: 20px !important;
}

.m-t-mmd {
    margin-top: 25px !important;
}

.m-t-lg {
    margin-top: 30px !important;
}

.m-t-xl {
    margin-top: 40px !important;
}

.m-t-xxl {
    margin-top: 50px !important;
}

.m-t-xxxl {
    margin-top: 60px !important;
}

.m-t-n-xxs {
    margin-top: -1px !important;
}

.m-t-n-xs {
    margin-top: -5px !important;
}

.m-t-n-sm {
    margin-top: -10px !important;
}

.m-t-n {
    margin-top: -15px !important;
}

.m-t-n-md {
    margin-top: -20px !important;
}

.m-t-n-lg {
    margin-top: -30px !important;
}

.m-t-n-xl {
    margin-top: -40px !important;
}

.m-r-none {
    margin-right: 0 !important;
}

.m-r-xxs {
    margin-right: 1px !important;
}

.m-r-xs {
    margin-right: 5px !important;
}

.m-r-sm {
    margin-right: 10px !important;
}

.m-r {
    margin-right: 15px !important;
}

.m-r-md {
    margin-right: 20px !important;
}

.m-r-lg {
    margin-right: 30px !important;
}

.m-r-xl {
    margin-right: 40px !important;
}

.m-r-n-xxs {
    margin-right: -1px !important;
}

.m-r-n-xs {
    margin-right: -5px !important;
}

.m-r-n-sm {
    margin-right: -10px !important;
}

.m-r-n {
    margin-right: -15px !important;
}

.m-r-n-md {
    margin-right: -20px !important;
}

.m-r-n-lg {
    margin-right: -30px !important;
}

.m-r-n-xl {
    margin-right: -40px !important;
}

.m-b-none {
    margin-bottom: 0 !important;
}

.m-b-xxs {
    margin-bottom: 1px !important;
}

.m-b-xs {
    margin-bottom: 5px !important;
}

.m-b-sm {
    margin-bottom: 10px !important;
}

.m-b {
    margin-bottom: 15px !important;
}

.m-b-md {
    margin-bottom: 20px !important;
}

.m-b-lg {
    margin-bottom: 30px !important;
}

.m-b-xl {
    margin-bottom: 40px !important;
}

.m-b-xxl {
    margin-bottom: 50px !important;
}

.m-b-xxxl {
    margin-bottom: 60px !important;
}

.m-b-superl {
    margin-bottom: 130px !important;
}

.m-b-n-xxs {
    margin-bottom: -1px !important;
}

.m-b-n-xs {
    margin-bottom: -5px !important;
}

.m-b-n-sm {
    margin-bottom: -10px !important;
}

.m-b-n {
    margin-bottom: -15px !important;
}

.m-b-n-md {
    margin-bottom: -20px !important;
}

.m-b-n-lg {
    margin-bottom: -30px !important;
}

.m-b-n-xl {
    margin-bottom: -40px !important;
}

.m-none {
    margin: 0 !important;
}

.m-tb-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.space-15 {
    margin: 15px 0;
}

.space-20 {
    margin: 20px 0;
}

.space-25 {
    margin: 25px 0;
}

.space-30 {
    margin: 30px 0;
}

.b-none {
    border: 0 !important;
}

.b-r-none {
    border-right: 0 !important;
}

.b-l-none {
    border-left: 0 !important;
}

.b-sides-none {
. b-l-none;
. b-r-none;
}

.b-b-none {
    border-bottom: 0 !important;
}

.b-t-none {
    border-top: 0 !important;
}

.br-none {
    border-radius: 0 !important;
}

.br-50 {
    border-radius: 50% !important;
}

.br-3 {
    border-radius: 3% !important;
}

.br-normal {
    border-radius: 0 0 .28571429rem .28571429rem !important;
}

.bs-none {
    box-shadow: none !important;;
}

/*HELPER CLASSES RESPONSIVE TEXT ALIGNMENT*/
.text-justify-xs {
    text-align: justify;
}

.text-center-xs {
    text-align: center;
}

.text-right-xs {
    text-align: right;
}

.pull-right-xs {
    float: right;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: justify;
    }

    .text-center-sm {
        text-align: center;
    }

    .text-right-sm {
        text-align: right;
    }

    .pull-right-sm {
        float: right !important;
    }

    .pull-left-sm {
        float: left !important;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: justify;
    }

    .text-center-md {
        text-align: center;
    }

    .text-right-md {
        text-align: right;
    }

    .pull-right-md {
        float: right !important;
    }

    .pull-left-md {
        float: left !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: justify;
    }

    .text-center-lg {
        text-align: center;
    }

    .text-right-lg {
        text-align: right;
    }

    .pull-right-lg {
        float: right;
    }
}