[package]
name = "rustbag-python"
version = "0.1.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rustbag"
crate-type = ["cdylib"]
doc = false

[dependencies]
pyo3 = { version = "0.20.2", features = ["anyhow", "extension-module"] }
pyo3-asyncio = { version = "0.20.0", features = ["tokio-runtime"] }
ros_msg = { path = "../ros_msg", features = ["python"]}
rustbag = { path = "../rustbag", features = ["python"]}
tokio = { version = "1.35.1", features = ["full"] }
url = "2.5.0"

