[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "analysta_llm_agents"
version = "0.2.7"
authors = [
  { name="Artem Rozumenko", email="support@analysta.ai" },
]
description = "LLM Agents library to build single-shot, react and master agents"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
dynamic = ["dependencies"]

[tool.setuptools.dynamic]
dependencies = {file = ["requirements.txt"]}

[project.urls]
Homepage = "https://analysta.ai"
Issues = "https://github.com/analysta-ai/llm-agents/issues"
